// Place all the styles related to the cars controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body.index_bg {
	background-image: url('https://channel4cars.files.wordpress.com/2014/01/dream-garage.jpg');
	background-repeat: no-repeat;
	background-size: 1438px 900px;
}

