// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.log-in-container {
	width: 200px;
	height: 250px;
	background-color: #6e94d3;
	border-radius: 20px;
	opacity: 0.95;
}

.white-txt {
	color: white;
}
